
body {
   margin: 0;
   padding: 0;
   
   margin-top: 5em;
   background-color: darkslategray;

}

h1 {
    color:white;
}

.button {
    height: 5em;
    width: 5em;
    
    margin: 2em;
    background-color: bisque;
    color: darkmagenta;
    font-weight: bold;
}
.buttones {
    display: inline-block;
    justify-content: center;
    align-items: center;
}